http_interactions:
- request:
    method: get
    uri: https://biendata.org/api/range/range-data?species=Xanthium_strumarium
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      ratelimit-policy: 100;w=900
      ratelimit-limit: '100'
      ratelimit-remaining: '99'
      ratelimit-reset: '900'
      content-type: application/json; charset=utf-8
      etag: W/"7a553-+t28dtz4Oo/NPvignFX5VpfGSYQ"
    body:
      encoding: ''
      file: no
      string: '[{"range_id":"166235","range_name":"TP05__Xanthium_strumarium__mean__noBias_1e.06_0_1e.06_0_all_all_none_all_maxnet_none_equalWeights","species_id":"50777","species":"Xanthium_strumarium","rangetype_id":3,"source_id":1,"source_name":"bien","run_id":1,"run":"201905_BIEN_v4.1_NewWorld","batch_id":4,"model_id":"50795","model":"Xanthium_strumarium__noBias__1e-06_0_1e-06_0_all_all_none_all_maxnet_none_equalWeights","statistics_unique_id":"Xanthium_strumarium__noBias_1e.06_0_1e.06_0_all_all_none_all_maxnet_none_equalWeights__","base_model":null,"mod_type":"bins","model_moment":"mean","sampling":"noBias","scenario_id":1,"scenario":"present","scenario_filecode":"present","time_period":"19","climate_model":"pr","rcp":"NA","threshold_id":"1","threshold":"TP05","background":null,"is_default":1,"basename":"TP05__Xanthium_strumarium__mean__noBias_1e.06_0_1e.06_0_all_all_none_all_maxnet_none_equalWeights","rel_path":"/PPM/Shapefile/Xanthium_strumarium/TP05__Xanthium_strumarium__mean__noBias_1e.06_0_1e.06_0_all_all_none_all_maxnet_none_equalWeights.shp","st_astext":"MULTIPOLYGON(((-75.90104250546754
        1.88011115860723,-75.90162210842033 1.789148754439548,-75.99096362050174 1.790447514833984,-76.08030306832171
        1.791717672003965,-76.07974856705782 1.882685125948201,-76.07918670788226
        1.973644213197821,-75.98982198540732 1.972369059810886,-75.9004552095666 1.971065190600609,-75.90104250546754
        1.88011115860723)),((-75.72109457204687 2.059311735601012,-75.63170849367185
        2.057918995565965,-75.63234210133167 1.966981295358026[...]
